.App {
  text-align: center;
}

main {
  display: flex;
}

.all-characters {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 25px solid black;
  margin: 5px;
}

.sorted-characters {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.alive {
  display: flex;
  flex-direction: column;
  border: 25px solid lightgreen;
  margin: 5px;
}

.deceased {
  display: flex;
  flex-direction: column;
  border: 25px solid darkred;
  margin: 5px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid black;
  width: 200px;
  margin: 5px;
}

h3 {
  font-size: medium;
}

button {
  margin: 5px;
}